html,
body
{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	min-width: 100vw;

	--surfaceWidth: 50vw;
}

body {
	display: grid;
	grid-template-areas: ". . ."
	                     ". c ."
	                     ". . .";
    justify-content: center;
    align-content: center;

	background-color: #555;
}

canvas {
	grid-area: c;
	justify-self: center;
	align-self: center;

	/* 16:9 format */
	width: var(--surfaceWidth);
	height: calc(var(--surfaceWidth) / 1.77777);

	box-shadow: 5px 10px 15px #000;
	margin: auto;
	border-radius: 1em;
}